---
import Slider from "../components/Slider.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Event details">
  <div class="container">
    <h1>Event Deatails</h1>
  </div>
  <Slider />
</Layout>

<style>
  .container {
    background-image: url(../assests/banner.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  .container h1 {
    padding-top: 5rem;
    color: white;
  }
</style>
