---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Watching Live">
  <div class="container">
    <h1>LIVE</h1>
  </div>
</Layout>

<style>
  .container {
    height: 100vh;
  }
</style>
