---
import { Image } from "astro:assets";
import recep from "../assests/receptionImage.png";

interface cardPorps {
  Title: string;
  ImagePath: string;
  Description: string;
}
const { ImagePath, Description, Title } = Astro.props;
---

<div class="container">
  <div class="img">
    <Image src={ImagePath} alt="" />
  </div>
  <div class="content">
    <div>
      <h1>{Title}</h1>
      <p style=" font-family: 'Rubik';">
        {Description}
      </p>
    </div>
    <div class="btn"><a href="">Know more</a></div>
  </div>
</div>

<style>
  * {
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .img {
    width: 100%;
    height: 220px;
    overflow: hidden;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .btn {
    padding: 0.8rem;
    background-color: var(--btn-bg);
    width: 40%;
  }
</style>
