---
import { Image } from "astro:assets";
import thx from "../assests/thnx.svg";
---

<div class="container">
  <div class="content">
    <div class="img">
      <Image src={thx} alt="" />
    </div>
    <div>
      <h1>Thank You</h1>
    </div>
  </div>
</div>
<div class="final-footer">
  <p class="order click">
    <a href="https://wedpal.in/#contact" target="_blank">
      Click here to order your own wedding website
    </a>
  </p>
  <hr />
  <p class="order">
    <a href="https://wedpal.in" target="_blank">wedpal | All right reserved</a>
  </p>
</div>

<style>
  * {
    font-family: "Rubik";
    color: white;
  }
  .container {
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../assests/banner.jpg);
    height: 50vh;
  }
  .img {
    overflow: hidden;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 2rem;
  }
  .final-footer {
    text-align: center;
    background-color: black;
    padding: 1rem;
    border-top: 0.3px solid #ffd700;
  }
  .order {
    padding: 1rem;
  }
  .click a {
    text-decoration: underline;
    font-weight: 100;
  }
</style>
